 
/* .search-bag{
    background-color: rgb(12, 132, 237);
    color: white;
    padding: 20px;
    display: flex;

}

.search-bag li{
    margin-left: 20px;
}   */
.humberger-menu {
  display: none;
}
.div{
  background-color: white;
}
@media only screen and (max-width:992px) {
    
  
    .humberger-menu {
        display:flex;
      
      }

      .search-bag-container{
        display: flex;
        flex-direction: row;
        margin-right:0;
         
      }
      



}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height:auto; */

  background-color: rgb(20, 20, 20);
  z-index: 2000;
  padding: 10px;
   
}

 

.menu-container ul {
  list-style-type: none;
  padding: 0;
}

.menu-container li {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  
}

.menu-container li:hover {
  color: black;
  cursor: pointer;
}

.menu-container li a{
   text-decoration: none;
   font-size:28px;
   margin-left: 5%;
   color: white;
}

/* style for the x button */
.x-button-container{
  position:relative;
  top: 0;
  right: 0;
  width:100%;
  height:10%; 
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

.x-button{
    font-size:x-large; 
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 20px;
    
  }

.option-button{
  display: none;
  justify-content: end;
  width: 100px;
  height: 30px;
   order: 2;
  margin-top:5px; 
}

.chevron_button-left{
  display: none;
  width:50%;
  margin-left: 20px;
  
}
/* style for list container in the click event */
.list-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 2000;
  background-color: rgb(20, 20, 20);
     
}
.list-content-item1{
  flex-basis:100%;
  margin-top: 5px;
  margin-left: 20px;
  
}
.list-content-item1 ul:first-child li {
  list-style-type: none;
   font-size : 30px;
   padding: 2px; 
}

.list-content-item2-3{
  flex-basis:100%;
  display: flex;
  padding: 10px;
}
.list-content-item2-3 ul li {
  margin: 10px;
  list-style-type: none;
  font-size : 20px;
  padding: 2px;
}

.list-item1-sub li{
  
  font-size: 17px;
  color: white;
  list-style-type: none;
}
.img-1{
  overflow: hidden;
  height:600px;
  margin-top:72px;
  
}
.img-1 img{
  transform: scale(2);
}
